[submodule "third/jemalloc"]
	path = third/jemalloc
	url = git@github.com:jemalloc/jemalloc.git
[submodule "third/curl"]
	path = third/curl
	url = https://github.com/curl/curl.git
[submodule "third/LuaJIT"]
	path = third/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
